/*
Styles for the block editor
*/

/* Import Atomic Blocks Sass Variables (inc/sass/variables.scss) */
@import 'variables';

.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-post-title textarea.editor-post-title__input {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.edit-post-visual-editor .blocks-rich-text p,
.blocks-list {
	font-size: 20px;
	line-height: 1.6;
}

.edit-post-visual-editor {
	.editor-block-list__block,
	.editor-post-title,
	.editor-default-block-appender {
		max-width: 872px
	}

	textarea.editor-post-title__input {
		font-size: 50px;
		font-weight: 700;
		line-height: 1.3;
	}
}

.edit-post-visual-editor .wp-block-quote {
	font-weight: bold;
	padding-left: 30px;
}

.edit-post-visual-editor .wp-block-separator {
	background-color: transparent;
	border: 0;
	height: 0px;
	margin: 2em 0;
	max-width: 100%;
	border: solid 1px #ddd;
}

.wp-block-heading h1, 
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	font-weight: 700;
}