/*
Styles for the block editor
*/

/* Import Atomic Blocks Sass Variables (inc/sass/variables.scss) */
@import 'variables';

.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-post-title textarea.editor-post-title__input {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	.serif-font-option & {
		font-family: 'Frank Ruhl Libre', 'Georgia', serif;	
	}
}

.edit-post-visual-editor .editor-rich-text p,
.edit-post-visual-editor, 
.edit-post-visual-editor p {
	font-size: 20px;
	line-height: 1.6;
}

body.gutenberg-editor-page #editor .edit-post-visual-editor .editor-post-title__block,
body.gutenberg-editor-page #editor .editor-default-block-appender,
body.gutenberg-editor-page #editor .editor-block-list__block {
    max-width: 830px
}

body.gutenberg-editor-page #editor .editor-block-list__block[data-align=full] {
	max-width: none;
}

.edit-post-visual-editor {
	textarea.editor-post-title__input {
		font-size: 50px;
		font-weight: 700;
		line-height: 1.3;
	}
}

@media (max-width: 1230px) {
	.edit-post-visual-editor .editor-post-title>div {
		margin-left: 0;
		margin-right: 0;
	}
}

.edit-post-visual-editor .wp-block-quote {
	font-weight: bold;
	padding-left: 30px;
}

.edit-post-visual-editor .wp-block-separator {
	background-color: transparent;
	border: 0;
	height: 0px;
	margin: 2em 0;
	max-width: 100%;
	border: solid 1px #ddd;
}

.wp-block-heading h1, 
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	font-weight: 700;
}

#editor .editor-rich-text__tinymce a {
	text-decoration: none;
}

.editor-block-list__block[data-align=center] {
	text-align: initial;
}