/*
Styles for the block editor and front end
*/

p + .alignfull,
p + .alignwide {
	margin-top: 2em;
}

.wp-block-columns {
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        display: block;
    }
}

.wp-block-column {
	width: 48%;
    flex: 0 1 auto;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}