/*
Styles for the block editor
*/

/* Import Atomic Blocks Sass Variables (inc/sass/variables.scss) */

body {
	color: #333;
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

p, ul, ol, dl {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 20px;
}

a {
	text-decoration: none;
}

/* Editor post title */
.editor-post-title__input {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.3;
}

/* Main column width */
.wp-block {
    max-width: 830px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block[data-align="full"] .wp-block,
.wp-block[data-align="wide"] .wp-block,
.wp-block[data-type="atomic-blocks/ab-columns"] .wp-block,
.ab-block-container .wp-block {
	max-width: 100%;
}

.wp-block-quote {
	font-weight: bold;
	padding-left: 30px;
}

.wp-block-separator {
	background-color: transparent;
	border: 0;
	height: 0px;
	margin: 2em 0;
	max-width: 100%;
	border: solid 1px #ddd;
}

.editor-block-list__block[data-align=center] {
	text-align: center;
}

#editor .wp-block-cover-text {
	font-size: 2em;
}